<div class="page-header">
  <%= link_to new_author_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    新規登録
  <% end %>
  <h1>作者情報</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>作者名</th>
            <th>Web</th>
            <th>ニコニコ</th>
            <th>Twitter</th>
            <th>Pixiv</th>
            <th>Email</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @authors) do |author| %>
            <td><%= link_to author.name, edit_author_path(author) %></td>
            <td><%= unless author.url.empty?  then link_to '外部サイト', author.url , :target => "_blank" end %></td>
            <td><%= author.nico %></td>
            <td><%= author.twitter %></td>
            <td><%= author.pixiv %></td>
            <td><%= mail_to(author.email) %></td>
      <% end %>
    </tbody>
  </table>
</div>
