<div class="page-header">
  <%= link_to new_author_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    新規登録
  <% end %>
  <h1>作者情報</h1>
</div>

<%= search_form_for @q , html: { class: "form-horizontal", role: "form"} do |f|  %>

<div class="panel panel-default">
    <div class="panel-heading">
        <span class="glyphicon glyphicon-search" aria-hidden="true">
        <span>検索条件</span>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <%= f.label :name_cont, '作者名', class: "col-sm-2 control-label" %>
            <div class="col-sm-3">
              <%= f.text_field :name_cont, class: "form-control" %>
            </div>
            <%= f.label :disp_name_cont, "表記名", class: "col-sm-2 control-label" %>
            <div class="col-sm-3">
              <%= f.text_field :disp_name_cont, class: "form-control" %>
            </div>
            <div class="col-sm-2">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-4 col-sm-offset-2"><%= f.submit '検索' ,class: "btn btn-primary" %> <a href="#"  class="btn btn-default" onclick="clearFormAll();return false">リセット</a></div>
        </div>
    </div>
</div>
<% end %>

<div class="table-responsive">
  <div class="text-right"><% unless @authors.total_count == 0 %><%= @authors.offset_value + 1 %>〜<%= @authors.offset_value + @authors.length %>件 / <% end %><%= @authors.total_count %>件</div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th><%= sort_link(@q, :name, "作者名") %></th>
            <th><%= sort_link(@q, :disp_name) %></th>
            <th>Web</th>
            <th width="20"></th>
      </tr>
    </thead>
    <tbody>
      <%= content_tag_for(:tr, @authors) do |author| %>
            <td><%= link_to author.name.truncate(20), edit_author_path(author) %></td>
            <td><%= author.disp_name.truncate(20) %></td>
            <td>
                <% unless author.nico.blank? %><%= link_to image_tag('icons/nico.jpg' ,{:class => "img-rounded", :width => "23px"}), 'http://www.nicovideo.jp/user/' + author.nico , :target => "_blank" %><% end %>
                <% unless author.twitter.blank? %><%= link_to image_tag('icons/twitter.jpg' ,{:class => "img-rounded", :width => "23px"}), 'https://twitter.com/' + author.twitter , :target => "_blank" %><% end %>
                <% unless author.pixiv.blank? %><%= link_to image_tag('icons/pixiv.jpg' ,{:class => "img-rounded", :height => "23px"}), 'http://www.pixiv.net/member.php?id=' + author.pixiv , :target => "_blank" %><% end %>
                <% unless author.url.blank? %><%= link_to sanitize('<span class="glyphicon glyphicon-home"></span>'), author.url , :target => "_blank" %><% end %>
                <% unless author.email.blank? %><%= mail_to author.email, sanitize('<span class="glyphicon glyphicon-envelope"></span>') %><% end %>
            </td>
            <td><% if author.credits.size == 0  %><%= link_to  author, method: :delete, data: { confirm: '削除してよろしいですか?', disabled: true }, class: "btn btn-danger btn-sm" do %><i class="glyphicon glyphicon-trash"></i> 削除<% end %><% end %></td>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@authors) %>
</div>
