<div class="page-header">
  <%= link_to new_video_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    アップロード
  <% end %>
  <h1>動画情報</h1>
</div>

<%= form_tag(destroy_all_videos_path, method: 'delete') do %>
<%= button_tag :type => "submit", :class =>"btn btn-danger btn-s-md" do %>
	<i class="glyphicon glyphicon-trash"></i> 削除
<% end %>
<div class="table-responsive">
  <div class="text-right"><% unless @videos.total_count == 0 %><%= @videos.offset_value + 1 %>〜<%= @videos.offset_value + @videos.length %>件 / <% end %><%= @videos.total_count %>件</div>
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
      	<th width="10"><%= check_box_tag 'check_all' %></th>
        <th>動画名</th>
        <th>総数</th>
        <th>解決</th>
        <th>Wanted</th>
        <th>未解決</th>
        <th width="100"></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @videos) do |video| %>
      	<td><%= check_box_tag 'ids[]', video.id %></td>
        <td><%= link_to video.name, video_emms_path(video) %></td>
        <td class="text-right"><%= video.total %></td>
        <td class="text-right"><%= video.resolveds %></td>
        <td class="text-right"><%= video.wants %></td>
        <td class="text-right"><%= video.yets %></td>
        <td><%= link_to  zip_video_path(video), class: "btn btn-default btn-sm" do %><i class="glyphicon glyphicon-download-alt"></i> ダウンロード<% end %></td>
      <% end %>
    </tbody>
  </table>
</div>
<% end %>
<%= paginate(@videos) %>
