<div class="page-header">
  <h1>貢献度ランキング</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <tbody>
      <% @ranks.each do | rank | %>
      <tr <% if rank['user'].id == @current_user.id then %> class="success" <% end %>>
          <td class="text-right"><%= rank["rank"] %></td>
          <td><img src="http://furyu.nazo.cc/twicon/<%= rank['user'].screen_name %>/mini" class="img-rounded"> <a href="https://twitter.com/<%= rank['user'].screen_name %>" target="_blank"><%= rank["user"].name %></a></td>
          <td><%= number_to_currency rank["point"], :unit => 'pt' %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
