<div class="page-header">
  <%= link_to video_emms_path(@emm.video_id), class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1><%= @emm.original_name %> <small>Emmの詳細情報</small></h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>状態</th>
        <th>フォルダ名</th>
        <th>ファイル名</th>
      </tr>
    </thead>

    <tbody>
      <% @emm_details.each do |detail| %>
        <tr>
            <td>
                <% if !detail['credit_id'].nil? then  %>
                    <span class="label label-success">解決</span>
                <% elsif !detail['wanted_id'].nil? then %>
                    <span class="label label-info">Wanted</span>
                <% else %>
                    <span class="label label-default">未解決</span>
                <% end %>
            </td>
            <td><%= detail['folder_name'] %></td>
            <td>
                <% if !detail['credit_id'].nil? then  %>
                    <%= link_to detail['file_name'] ,edit_credit_path(detail['credit_id']) %>
                <% elsif !detail['wanted_id'].nil? then %>
                    <%= link_to detail['file_name'] ,add_credits_path(detail['wanted_id'])  %>
                <% else %>
                    <%= detail['file_name'] %>
                <% end %>
            </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
