<h1>統計</h1>
<div>
    <table class="table table-responsive table-hover">
        <tr>
            <td>Wantend</td>
            <td class="text-right"><%= number_to_currency @wanted_size, :unit => '件' %></td>
            <td class="text-right"><% if @wanted_today_size > 0 then %><span class="label label-primary">+<%= number_to_currency @wanted_today_size, :unit => '' %></span><% end %></td>
        </tr>
        <tr>
            <td>クレジット情報</td>
            <td class="text-right"><%= number_to_currency @credit_size, :unit => '件' %></td>
            <td class="text-right"><% if @credit_today_size > 0 then %><span class="label label-primary">+<%= number_to_currency @credit_today_size, :unit => '' %></span><% end %></td>
        </tr>
        <tr>
            <td>作者情報</td>
            <td class="text-right"><%= number_to_currency @author_size, :unit => '件' %></td>
            <td class="text-right"><% if @author_today_size > 0 then %><span class="label label-primary">+<%= number_to_currency @author_today_size, :unit => '' %></span><% end %></td>
        </tr>
    </table>
</div>

<hr>
<div class="btn-group">
    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://mmdc.tiger-star.net" data-text="MMDクレジット MMDのクレジット表記作業を楽にしよう" data-hashtags="mmdc">Tweet</a>
    <a href="http://b.hatena.ne.jp/entry/http://mmdc.tiger-star.net" class="hatena-bookmark-button" data-hatena-bookmark-title="MMDクレジット" data-hatena-bookmark-layout="standard" title="このエントリーをはてなブックマークに追加"><img src="http://b.st-hatena.com/images/entry-button/button-only.gif" alt="このエントリーをはてなブックマークに追加" width="20" height="20" style="border: none;" /></a>
    <div class="fb-like" data-href="http://mmdc.tiger-star.net/" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
</div>

<h2>更新情報</h2>
<dl>
    <% @histories.each do | history | %>
        <dt><%= history.created_at.strftime('%Y/%m/%d %H:%M:%S') %></dt>
        <dd class="small"><p class="label label-<%= case history.item when 'クレジット' then 'success' when '作者' then 'primary' else 'info' end %>"><%= history.item %></p> <%= sanitize(history.is_create? ? '登録':'更新') %> <%= if (current_user) then link_to history.item_name.truncate(20), history.link else  history.item_name.truncate(20)  end %></dd>
    <% end %>
</dl>
