<h1>統計</h1>
<div>
    <table class="table table-responsive table-hover">
        <tr>
            <td>Wantend</td>
            <td class="text-right"><%= number_to_currency @wanted_size, :unit => '件' %></td>
        </tr>
        <tr>
            <td>クレジット情報</td>
            <td class="text-right"><%= number_to_currency @credit_size, :unit => '件' %></td>
        </tr>
        <tr>
            <td>作者情報</td>
            <td class="text-right"><%= number_to_currency @author_size, :unit => '件' %></td>
        </tr>
    </table>
</div>

<hr>
<h2>更新情報</h2>
<dl>
    <% @histories.each do | history | %>
        <dt><%= history.created_at.strftime('%Y/%m/%d %H:%M:%S') %></dt>
        <dd class="small"><p class="label label-<%= case history.item when 'クレジット' then 'success' when '作者' then 'primary' else 'info' end %>"><%= history.item %></p> <%= sanitize(history.is_create? ? '登録':'更新') %> <%= link_to history.item_name.truncate(20), history.link %></dd>
    <% end %>
</dl>
