<h1>統計</h1>
<div>
    <table class="table table-responsive table-hover">
        <tr>
            <td>Wantend</td>
            <td class="text-right"><%= number_to_currency @wanted_size, :unit => '件' %></td>
            <td class="text-right"><% if @wanted_today_size > 0 then %><span class="label label-primary">+<%= number_to_currency @wanted_today_size, :unit => '' %></span><% end %></td>
        </tr>
        <tr>
            <td>クレジット情報</td>
            <td class="text-right"><%= number_to_currency @credit_size, :unit => '件' %></td>
            <td class="text-right"><% if @credit_today_size > 0 then %><span class="label label-primary">+<%= number_to_currency @credit_today_size, :unit => '' %></span><% end %></td>
        </tr>
        <tr>
            <td>作者情報</td>
            <td class="text-right"><%= number_to_currency @author_size, :unit => '件' %></td>
            <td class="text-right"><% if @author_today_size > 0 then %><span class="label label-primary">+<%= number_to_currency @author_today_size, :unit => '' %></span><% end %></td>
        </tr>
    </table>
</div>

<hr>
<div class="btn-group">
    <a title="Twitterでつぶやく" href="https://twitter.com/share?url=https://mmdc.tiger-star.net/&text=MMDクレジット MMDのクレジット表記作業を楽にしよう&hashtags=mmdc" target="_blank"  onclick="window.open(this.href, 'FBwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">
        <img alt="Twitterでつぶやく" src="/images/Twitter.png" />
    </a>
    <a title="facebookでシェアする" href="https://www.facebook.com/sharer.php?u=https://mmdc.tiger-star.net/&t=MMDクレジット MMDのクレジット表記作業を楽にしよう" target="_blank" rel="nofollow"  onclick="window.open(this.href, 'FBwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">
        <img alt="facebookでシェアする" src="/images/Facebook.png" />
    </a>

    <a title="Google+でシェア" href="https://plus.google.com/share?url=https://mmdc.tiger-star.net/" onclick="window.open(this.href, 'Gwindow', 'width=650, height=450, menubar=no, toolbar=no, scrollbars=yes'); return false;">
        <img src="/images/Google+.png" alt="Google+でシェア">
    </a>

    <a href="http://b.hatena.ne.jp/entry/s/mmdc.tiger-star.net/" class="hatena-bookmark-button" data-hatena-bookmark-layout="simple" title="MMDクレジット MMDのクレジット表記作業を楽にしよう">
        <img src="/images/hatebu.png" alt="はてなブックマークに追加" />
    </a>
    <script type="text/javascript" src="https://b.st-hatena.com/js/bookmark_button.js" charset="utf-8" async="async"></script>

    <a title="Pocketで後で読む" href="https://getpocket.com/edit?url=https://mmdc.tiger-star.net/&title=MMDクレジット MMDのクレジット表記作業を楽にしよう" onclick="window.open(this.href, 'FBwindow', 'width=550, height=350, menubar=no, toolbar=no, scrollbars=yes'); return false;">
      <img src="/images/Pocket.png" alt="Pocketで後で読む" />
    </a>

    <a title="RSSを購読する" href="/home/index.rss">
        <img src="/images/social-icon-w28c.png" alt="RSSを購読する">
    </a>
</div>

<h2>更新情報</h2>
<dl>
    <% @histories.each do | history | %>
        <dt><%= history.created_at.strftime('%Y/%m/%d %H:%M:%S') %></dt>
        <dd class="small"><p class="label label-<%= case history.item when 'クレジット' then 'success' when '作者' then 'primary' else 'info' end %>"><%= history.item %></p> <%= sanitize(history.is_create? ? '登録':'更新') %> <%= if (current_user) then link_to history.item_name.truncate(20), history.link else  history.item_name.truncate(20)  end %></dd>
    <% end %>
</dl>
