<div class="page-header"><h1>お知らせ</h1></div>
<dl>
    <% @side_infos.each do | info | %>
    <dt><%= info.date.strftime('%Y/%m/%d') %></dt>
    <dd><%= link_to info.title, info %></dd>
    <% end %>
    <% if @side_infos.length == 3 then %>
        <dd><span class="small"><a href="/infos">全て見る</a></span></dd>
    <% end %>
</dl>


<hr>
<h2>更新情報</h2>
<dl>
    <% @histories.each do | history | %>
        <dt><%= history.created_at.strftime('%Y/%m/%d %H:%M:%S') %></dt>
        <dd class="small"><p class="label label-<%= case history.item when 'クレジット' then 'success' when '作者' then 'primary' else 'info' end %>"><%= history.item %></p> <%= sanitize(history.is_create? ? '登録':'更新') %> <%= link_to history.item_name.truncate(20), history.link %></dd>
    <% end %>
</dl>
